<%- include('partials/header') %>

<div class="container"><div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <br>
      <br>
      <h1 hidden class="lead mb-3"><%= user.name %></h1>
      <h1 class="mt-5 text-center"><%= tablename%> Table</h1>
            <br>
        </div>
        <div class="col-3"></div>
    </div>

        
        <div class="row ">
            <div class="col-3"></div>
            <div class="col-6 card" id="mainrow">
                <table class="table">
                    <thead>
                      <tr>
                        <% for (var i=0; i<colcount; i++){%>
                        <th scope="col"><%=column[i]%></th>
                        <% } %>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i=0; i<(Number(rowcount)*Number(colcount)); i=i+Number(colcount)){%>
                          <tr>
                            <% for (var j=0; j<(Number(colcount)); j+=1){%>
                            <td><%=row[Number(i) + Number(j)]%></td>
                            <% } %>
                          </tr>
                           
                      <% } %>
                    </tbody>
                </table>
         
    </div>
    <div class="col-3"></div>
</div>
</div>




